<html>
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/stylesheets/bcs-graphics.css">
  </head>
  <title>Beer Cheese Soup</title>
  <body
        <div class="container">
        <div class="item">
        </div>
      </div>
      <span>
        <form action= '/bcs/registrations' method= "get">
          <button>New Employees</button>
        </form>    
        <form action= '/bcs/login' method= "get">
          <button>Current Employees</button>
        </form> 
      </span>
   </body>
    <footer>
      <p><nobr><b>©2020 BeerCheeseSoup Inc. | Web design by Anthony McMullen | Flatiron School</nobr><b></p>
    </footer>
</html>