<html>
   <head>
      <title>HTML Image as link</title>
   </head>
   <body>
      <br>
      <form action="/bcs/hours" method="post">
      <button type= "submit"> Click To Continue</button>
      <a href="/bcs/hours">
         <img alt="Continue To Profile" src="public/android-chrome-512x512.png">
      </a>
      <input ="text" hidden name="id" value ="@session[:id]">
      </form>
   </body>
</html>